model:
  class_path: cvdseg.lightning_modules.multi_label.Multilabel
  init_args:
    network:
      class_path: monai.networks.nets.DynUNet
      init_args:
        spatial_dims: 3
        in_channels: ${length:${data.init_args.images}}
        out_channels: ${length:${data.init_args.labels}}
        kernel_size: [3,3,3,3,3,3]
        strides: [1,2,2,2,2,2]
        upsample_kernel_size: [2,2,2,2,2]
        deep_supervision: true
        deep_supr_num: 3
        res_block: true
    loss_fn: 
      class_path: cvdseg.lightning_modules.losses.MyDiceCELoss
      init_args:
        include_background: true
        sigmoid: true
    test_inferer:
      class_path: monai.inferers.SlidingWindowInferer
      init_args:
        roi_size: [160, 160, 160]
        overlap: 0.5
        mode: 'gaussian'
    test_post_processor:
      class_path: cvdseg.post_processing.basic.MultilabelPostProcessor
      init_args:
        threshold: 0.5
    watch_log_freq: 100
    surface_distance_freq: 5
    test_pred_dir: null
    test_metrics_path: null
data:
  class_path: cvdseg.data_modules.base.Base
  init_args:
    data_dir: data/main
    train_split_path: data/main/splits3/train_multiclass.csv
    val_split_path: data/main/splits3/val_main.csv
    test_split_path: data/main/splits3/test_main.csv
    images: [FLAIR]
    labels: [WMH]
    transforms_train:
      class_path: torchio.transforms.Compose
      init_args:
        transforms:
          - class_path: cvdseg.data_modules.transforms.CopyAnyAffine
          - class_path: torchio.transforms.ZNormalization
          - class_path: torchio.transforms.RandomAffine
            init_args:
              p: 0.2
              scales: 0
              degrees: 90
          - class_path: torchio.transforms.RandomAffine
            init_args:
              p: 0.2
              scales: [0.7, 1.4]
              degrees: 0
              isotropic: true
          - class_path: torchio.transforms.RandomNoise
            init_args:
              p: 0.15
              mean: 0
              std: [0, 0.316]
          - class_path: torchio.transforms.RandomBlur
            init_args:
              p: 0.1
              std: [0.5, 1.5]
          - class_path: cvdseg.data_modules.transforms.Brightness
            init_args:
              p: 0.15
              rng: [0.7, 1.3]
          - class_path: cvdseg.data_modules.transforms.Contrast
            init_args:
              p: 0.15
              rng: [0.65, 1.5]
          - class_path: cvdseg.data_modules.transforms.SimulateLowResolution
            init_args:
              p: 0.25
              factor: [1, 4] # nnU-Net use [1, 2]
          - class_path: cvdseg.data_modules.transforms.Gamma
            init_args:
              p: 0.15
              rng: [0.7, 1.5]
          - class_path: torchio.transforms.RandomFlip
            init_args:
              p: 0.5
              axes: [0, 1, 2]
          - class_path: torchio.transforms.RandomMotion # This transform is not in nnU-Net
            init_args:
              p: 0.05
          - class_path: torchio.transforms.RandomGhosting # This transform is not in nnU-Net
            init_args:
              p: 0.05
          - class_path: torchio.transforms.RandomSpike # This transform is not in nnU-Net
            init_args:
              p: 0.05
          - class_path: torchio.transforms.RandomBiasField # This transform is not in nnU-Net
            init_args:
              p: 0.05
    transforms_test:
      class_path: torchio.transforms.Compose
      init_args:
        transforms:
          - class_path: cvdseg.data_modules.transforms.CopyAnyAffine
          - class_path: torchio.transforms.ZNormalization
    sampler:
      class_path: torchio.data.LabelSampler
      init_args:
        patch_size: ${model.init_args.test_inferer.init_args.roi_size}
        label_name: WMH
        label_probabilities:
          0: 0.3
          1: 0.7
    queue_max_length: 400
    queue_samples_per_volume: 2
    queue_num_workers: 8
    batch_size: 1
    val_as_test: false
    missing_images_ok: false
    missing_labels_ok: true
optimizer:
  class_path: "torch.optim.SGD"
  init_args:
    lr: 0.01
    momentum: 0.99
    nesterov: True
lr_scheduler:
  class_path: "torch.optim.lr_scheduler.PolynomialLR"
  init_args:
    power: 0.9
trainer:
  accumulate_grad_batches: 6
  gradient_clip_val: 1
  logger:
    class_path: pytorch_lightning.loggers.WandbLogger
    init_args:
      project: WMH_ISL3
      log_model: false
      save_dir: logs/WMH_ISL3/WMH_no_extra_1
      name: WMH_no_extra_1
  accelerator: gpu
  devices: [0]
  precision: 16-mixed
  max_epochs: ${eval:"2000 // ${data.init_args.queue_samples_per_volume}"}
  check_val_every_n_epoch: 20
  log_every_n_steps: null
  callbacks:
    - class_path: pytorch_lightning.callbacks.LearningRateMonitor
      init_args:
        logging_interval: epoch
    - class_path: cvdseg.lightning_modules.callbacks.TimeIteration
    - class_path: pytorch_lightning.callbacks.ModelCheckpoint
      init_args:
        filename: epoch={epoch}-dice={dice/mean:.3f}
        auto_insert_metric_name: false
        monitor: dice/mean
        mode: max
        every_n_epochs: ${trainer.check_val_every_n_epoch}
    - class_path: pytorch_lightning.callbacks.ModelCheckpoint
      init_args:
        filename: epoch={epoch}
        auto_insert_metric_name: false
        monitor: epoch
        mode: max
        every_n_epochs: ${trainer.check_val_every_n_epoch}
seed_everything: 1